name: Build and Deploy Docker Image

on:
  push:
    branches:
      - main
  release:
    types:
      - published
  workflow_dispatch: {}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ghcr.io/${{ github.repository }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tags
        id: tag
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "push" ]]; then
            echo "TAGS=${IMAGE_NAME}:testing" >> $GITHUB_ENV
          elif [[ "${GITHUB_EVENT_NAME}" == "release" ]]; then
            VERSION_TAG="${IMAGE_NAME}:${GITHUB_REF_NAME}"
            LATEST_TAG="${IMAGE_NAME}:latest"
            echo "TAGS=$VERSION_TAG,$LATEST_TAG" >> $GITHUB_ENV
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.TAGS }}
